@using Microsoft.AspNetCore.Identity
@using DotNetWebApp.Models
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<form class="form-inline me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
				<button type="submit" class="btn btn-primary">PROFILE</button>
			</form>
		</li>
		@if (bool.Parse(User.Claims.FirstOrDefault(c => c.Type == "Worker")?.Value ?? "0"))
		{
			<li class="nav-item">
				<form class="form-inline me-2" asp-controller="CarApi" asp-action="AllRents" asp-route-returnUrl="@Url.Action("Index", "CarApi", new { area = "" })">
					<button type="submit" class="btn btn-primary">All Rents</button>
				</form>
			</li>
		}
		<li class="nav-item">
			<form class="form-inline me-2" asp-controller="CarApi" asp-action="MyRents" asp-route-returnUrl="@Url.Action("Index", "CarApi", new { area = "" })">
				<button type="submit" class="btn btn-secondary">Your Rents</button>
			</form>
		</li>
		<li class="nav-item">
			<form class="form-inline me-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "CarApi", new { area = "" })">
				<button type="submit" class="btn btn-danger">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-success me-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-info me-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
